:root {
    --font-family-main: Inter, sans-serif;
    --font-family-accent: PressStart2P, monospace;
    --font-var-main: 400;
    --font-var-title: 700;

    --clr-main: #fff;
    --clr-accent: #000;
}
